/*Keyframes, make a button change both the color, size of the text and some text-shadow.*/
@keyframes colorButton {
    0% {
        color: rgb(231, 92, 178);
        font-size: 1.4em;
    }
    50% {
        color:rgb(113, 18, 113);
        font-size:1.6em;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    }
    100% {
      
        color:rgb(54, 54, 204);
        font-size:1.8em;
        text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
    }
}

/*Keyframes, variant of colorButton, but this is adapted to different screen sizes (responsive).*/
@keyframes colorButtonRespons {
    0% {
        color: rgb(231, 92, 178);
        font-size: 0.8em;
    }
    50% {
        color:rgb(113, 18, 113);
        font-size:1em;
        text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    }
    100% {
      
        color:rgb(54, 54, 204);
        font-size:1.2em;
        text-shadow: 5px 5px 7px rgba(0,0,0,0.5);
    }
}

/*Keyframes, which should create the effect of zooming in and out of the header image. 
Also a frame around that changes in size.*/
@keyframes bgImage {
    from{
        background-size: 100%;
        border:2px solid white;
    }
    to{
        background-size: 120%;
        border:10px solid white;
    }
}

/*Keyframes, which cause an image of a bird to move across the page.*/
@keyframes birdFly {
    from {
        transform: translate(500px,-300px);
    }

to {
    transform: translate(200px,-100px);
}
}

/*Keyframes, variant of birdFly where changes have been made that adapt to a different screen size (responsive)*/
@keyframes birdFlyRespons {
    from {
        transform: translate(300px,-100px);
    }

to {
    transform: translate(100px,-50px);
}
}

/*Keyframes, which have effects on the message box that appears when the button is pressed.*/
@keyframes messageVisible {
    0% {
        transform:rotateX(0deg);
        background-color: purple;
        text-shadow: 4px 4px 8px white;
    }
    100%{
        transform:rotateX(90deg);
        background-color: rgb(69, 141, 228);
        text-shadow: 2px 2px 4px white;
    }
}