/*Created variables.*/
$ma-top: 10%;
$ma-bot: 10%;

/*Make the website responsive with grid-container, grid-area on the elements.*/
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 2%;
}

.welcome {
    grid-row-start: 1; 
    grid-column-start: 2; 
    grid-row-end: 2; 
    grid-column-end: 2;
}
.sass {
    grid-area:1/2/1/2;
}

.h1anime {grid-area:1/2/1/2;}
#message {grid-area:1/2/1/2;}

.diagram {grid-area:1/2/1/2;}
#header-map {grid-area:1/2/1/2;}
#map-text {grid-area:2/2/2/2;}

#click-button {grid-area:2/2/2/2; margin-left: auto; margin-right: auto;}

.image1{ 
    grid-area: 1/1/1/1; 
    margin-top:$ma-top; 
    margin-bottom: $ma-bot; 
    display:flex; 
    justify-content: center; 
    align-items: center;}

/*Uses @extend on the image to avoid repetition*/
.image2{
    grid-area: 1/3/1/3;
  @extend.image1;
}

#image-con {
    grid-area:4/2/5/2;
}

//diagram
#chart {
    grid-area:2/2/3/2;
}
#chart1 {
    grid-area:4/2/5/2;
}

#search {grid-area:3/2/3/2;}
#button-search {grid-area:4/2/4/2;}
#map {grid-area:5/1/6/4;}

.footer1{
    grid-area:4/1/5/4;
}
.footer2{
    grid-area:4/1/5/4;
}
.footer3 {
    grid-area: 5/1/6/4;
}

.footer4 {
    grid-area:6/1/7/4;
}
.footer5 {grid-area: 7/1/8/4;}

/*Media rule for breaking point at 1024px, the elements get other placements.*/
@media (max-width:1024px) {
    .image1 {grid-area:2/2/3/2;}
    .image2 {grid-area:3/2/4/2;}
    .welcome {margin-bottom: 10%;}
    .sass {margin-bottom: $ma-bot;}
}
/*Media rule for breaking point of 600px, the elements get other positions.*/
@media (max-width:600px){
    .image1 {grid-area:2/1/2/4;}
    .image2 {grid-area:3/1/3/4; margin-bottom: $ma-bot;}
    .welcome {grid-area:1/1/2/4;margin-bottom: 4%;margin-left: 4%; margin-right: 4%;}
    .sass {grid-area:1/1/2/4;margin-left: 4%; margin-right: 4%;}
    .footer1 {grid-area:4/1/5/4;}
    #map-text {grid-area:2/1/2/4;}
    #search {grid-area:3/1/3/4;}
    #chart {grid-area:2/1/3/4;}
    #chart1 {grid-area:4/1/5/4;}
}